    <!-- Footer Area Start -->
    <footer>
      <div class="footer_main py-60">
        <img src="<%=asset_path 'vector-7.png'%>" alt="" class="vector_shape">
        <img src="<%=asset_path 'dots-1.png'%>" alt="" class="dots">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 ">
              <div class="footer_widget">
                <a href="index.html" class="mb-8">
                  <%=image_tag 'logo2.png', style: 'width: 160px'%>
                </a>
                <p class="description_text"><%=website_detail&.dig('about')%></p>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-6">
              <div class="footer_widget">
                <h5 class="medium-black mb-16">Quick Links</h5>
                <ul class="unstyled list">
                  <li><a href=""><i class="fad fa-chevron-right"></i>Courses</a></li>
                  <li><a href=""><i class="fad fa-chevron-right"></i>Join a Career</a></li>
                  <li><a href=""><i class="fad fa-chevron-right"></i>Upcoming Events</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-6">
              <div class="footer_widget">
                <h5 class="medium-black mb-16">Explore</h5>
                <ul class="unstyled list">
                  <li><a href="<%=about_us_path%>"><i class="fad fa-chevron-right"></i>About Us</a></li>
                  <li><a href="<%gallery_path%>"><i class="fad fa-chevron-right"></i>Gallery</a></li>
                  <li><a href="team-detail.html"><i class="fad fa-chevron-right"></i>Teacher’s Detail</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-6">
              <div class="footer_widget">
                <h5 class="medium-black mb-16">Information</h5>
                <ul class="unstyled list">
                  <li><a href="<%=new_user_session_path%>"><i class="fad fa-chevron-right"></i>Login</a></li>
                  <li><a href="register.html"><i class="fad fa-chevron-right"></i>Register</a></li>
                  <li><a href="<%=contact_us_path%>"><i class="fad fa-chevron-right"></i>Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="footer_widget">
                <h5 class="medium-black mb-16">Contact Us</h5>
                <ul class="unstyled list">
                  <li class="mb-16"><i class="fal fa-map-marker-alt"></i><%=website_detail&.dig('address_1')%></li>
                  <li class="mb-16"><a href="mailto:<%=website_detail&.dig('email')%>"><i
                        class="fal fa-envelope"></i><%=website_detail&.dig('email')%></a></li>
                  <li><a href="tel:<%=website_detail&.dig('phone_1')%>"><i class="fal fa-phone-alt"></i><%=website_detail&.dig('phone_1')%></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="bottom-row">
            <ul class="unstyled social_icons_list">
              <li>
                <a href="<%=website_detail&.dig('instagram')%>">
                  <img src="<%=asset_path 'Instagram.png'%>" alt="">
                </a>
              </li>
              <li>
                <a href="<%=website_detail&.dig('facebook')%>">
                  <img src="<%=asset_path 'Facebook.png'%>" alt="">
                </a>
              </li>
              <li>
                <a href="<%=website_detail&.dig('twitter')%>">
                  <img src="<%=asset_path 'Twitter.png'%>" alt="">
                </a>
              </li>
              <li>
                <a href="<%=website_detail&.dig('linkedin')%>">
                  <img src="<%=asset_path 'Linkedin.png'%>" alt="">
                </a>
              </li>
            </ul>
            <div class="newsletter_block">
              <h5>Newsletter</h5>
              <%= form_with model: Newsletter.new, url: newsletter_subscribe_path, method: :post, local: true, class: "newsletter" do |f| %>
                <%= f.email_field :email, class: "form-control", required: true, placeholder: "Your email" %>
                <%= f.submit "Subscribe", class: "educate-btn sm educate-btn__curve", style: 'background-color: #0aa6d7 !important;' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright_row">
        <p>©2026 kaleidoscopekollege All Rights Reserved.</p>
      </div>
    </footer>
    <!-- Footer Area End -->
