<!-- Page Title Banner Start -->
<section class="page_title_banner">
  <div class="container">
    <div class="content">
      <div class="title">
        <h1>Course Listing</h1>
        <%= image_tag "tag-2.png", class: "tag" %>
      </div>
      <div class="educate-tilt"
        data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
        <%= image_tag "page_title.png", class: "main_img" %>
      </div>
      <%= image_tag "circle-lines-2.png", class: "circle_vector" %>
    </div>
  </div>
</section>
<!-- Page Title Banner End -->

<!-- Courses Area Start -->
<section class="py-60">
  <div class="container">
    <div class="filter_row">
      <div class="left_block">
        <div class="select_filter">
          <span class="dark-gray">Category:</span>
          <select id="category-filter" class="form-control">
            <option value="all">All Categories</option>

            <% @courses.pluck(:category).uniq.each do |cat| %>
              <option value="<%= cat %>"><%= cat %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="right_block">
        <h6 class="dark-gray"></h6>
        <form action="blog-grid-left.html" class="search_bar">
          <button type=""><i class="fal fa-search"></i></button>
          <input type="search" class="form-control" placeholder="Search here" id="course-search">
        </form>
      </div>
    </div>
    <div class="row">
      <%@courses.each do |course|%>
        <div class="col-lg-6 course-item"
             data-category="<%= course.category %>"
             data-title="<%= course.title.downcase %>"
             data-instructor="<%= course.instructor.name.downcase %>">
          <div class="course__card mb-24">
            <!--<div class="course__card__icon">
              <%#= image_tag "ps.png"%>
            </div>-->
            <div class="course__card__content">
              <div class="left__block">
                <%#= image_tag "tag-1.png",class:"course_tag"%>
                <h4 class="mb-4p"><a href="<%=course_details_path(id: course.id)%>"><%=course.title%></a></h4>
                <p class="h6 mb-24"><%=course.category%></p>
                <ul class="course_info p-0 mb-32">
                  <li><i class="fal fa-presentation"></i><%=course.videos_count%> Videos</li>
                  <li><i class="fal fa-clock"></i><%=course.total_hours%> Hours</li>
                </ul>
                <div class="author_card">
                  <%= image_tag course.instructor.image, class:"author_img", style: 'width:80px; height:80px;'%>
                  <div class="author_text_block">
                    <a href="team-detail.html" class="h6 mb-4p"><%=course.instructor.name%></a>
                    <p><%=course.instructor.specialist%></p>
                  </div>
                </div>
              </div>
              <div class="right__block">
                <div class="price_block mb-16">
                  <div class="price_vector">
                   <%= image_tag "vector-group.png", alt: "" %>
                  </div>
                  <span class="h3 color-white">$<%=course.price%></span>
                </div>
                <a href="course-detail.html" class="educate-btn sm mx-xl-auto me-2"><span
                    class="educate-btn__curve"></span>Buy Now</a>
              </div>
              <%= image_tag "vector-1.png" ,class:"bottom_vector"%>
            </div>
          </div>
        </div>
      <%end%>
      <!--<ul class="pagination">
        <li class="page-item"><a href="" class="page-link arrow" aria-label="next"><i
              class="far fa-chevron-left"></i></a></li>
        <li class="page-item"><a class="page-link current" href="">1</a></li>
        <li class="page-item"><a class="page-link" href="">2</a></li>
        <li class="page-item"><a class="page-link" href="">3</a></li>
        <li class="page-item"><a href="" class="page-link arrow" aria-label="next"><i
              class="far fa-chevron-right"></i></a></li>
      </ul> -->
    </div>
  </div>
</section>
<!-- Courses Area End -->
<script>
 document.addEventListener("turbo:load", function () {

  function filterCourses() {
    let selectedCategory = $(".filter-btn.active").data("filter") || "all";
    let searchText = $("#course-search").val().toLowerCase();

    $(".course-item").each(function () {
      let category = $(this).data("category");
      let title = $(this).data("title");

      let matchCategory = (selectedCategory === "all" || category === selectedCategory);
      let matchSearch = title.includes(searchText);
      if (matchCategory && matchSearch) {
        $(this).fadeIn();
      } else {
        $(this).hide();
      }
    });
  }

  $("#category-filter").on("change", function () {
    filterCourses();
  });

  $("#course-search").on("keyup", function () {
    filterCourses();
  });

});
</script>
