<!-- Page Title Banner Start -->
<section class="page_title_banner">
    <div class="container">
        <div class="content">
            <div class="title">
                <h1>Our Expert Team</h1>
                <img src="<%=asset_path 'tag-2.png'%>" alt="" class="tag">
            </div>
            <div class="educate-tilt"
                data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                <img src="<%=asset_path 'page_title.png'%>" alt="" class="main_img">
            </div>
            <img src="<%=asset_path 'circle-lines-2.png'%>" alt="" class="circle_vector">
        </div>
    </div>
</section>
<!-- Page Title Banner End -->

<!-- Team Area Start -->
<section class="py-60">
    <div class="container">
        <div class="row">
          <%@teachers.each do |teacher| %>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team__card mb-24">
                    <div class="team__img_block">
                      <%=image_tag teacher.image, class: 'team_img'%>
                        <div class="team__content_block">
                            <div class="team__text_block">
                                <h5 class="mb-8"><a href="/teacher_details"><%=teacher.specialist%></a></h5>
                                <ul class="team__info unstyled mb-16">
                                    <li><i class="fas fa-star"></i><%=teacher.rating%></li>
                                    <li><i class="fal fa-graduation-cap"></i><%=teacher.designation%></li>
                                    <li><i class="fal fa-clock"></i><%=teacher.email%></li>
                                </ul>
                                <p class="team_info_text mb-24"><%=teacher.profile_description[0..50] ...%></p>
                                <a href="<%=teacher_details_path(id: teacher)%>" class="educate-btn mx-auto"><span
                                        class="educate-btn__curve"></span>Learn More</a>
                                <img src="<%=asset_path 'feture-bg-shape.png'%>" alt=""
                                    class="text_block_bg_shape">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <%end%>
        </div>
    </div>
</section>
<!-- Team Area End -->
