<!-- Page Title Banner Start -->
        <section class="page_title_banner">
            <div class="container">
                <div class="content">
                    <div class="title">
                        <h1>Blog Grid</h1>
                        <img src="<%=asset_path 'tag.png'%>" alt="" class="tag">
                    </div>
                    <div class="educate-tilt"
                        data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                        <img src="<%=asset_path 'page_title.png'%>" alt="" class="main_img">
                    </div>
                    <img src="<%=asset_path 'circle-lines-2.png'%>" alt="" class="circle_vector">
                </div>
            </div>
        </section>
        <!-- Page Title Banner End -->

        <!-- Blogs Area Start -->
        <section class="py-60">
            <div class="container">
                <div class="row">
                  <%@posts.each do |post|%>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog_card mb-24">
                            <div class="blog_card_img_block">
                                <%= image_tag post.featured_image %>
                                <p class="date"><%=post.published_at&.strftime('%d/%m/%y')%></p>
                            </div>
                            <div class="blog_card_text_block">
                                <h5 class="mb-8"><a class="blog_title" href="blog-detail.html"><%=post.title%></a></h5>
                                <p class="mb-24"><%=post.body&.html_safe%></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="author">
                                        <%= image_tag "u-1.png" %>
                                        <h6 class="dark-gray">Kaleidoscope Team</h6>
                                    </div>
                                    <a href="<%=post_path(slug: post.slug)%>" class="h6 color-primary educate_link_btn">Read More<i
                                            class="far fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  <%end%>
                </div>
            </div>
        </section>
        <!-- Blogs Area End -->

